anyio==3.6.1
asgiref==3.6.0
attrs==22.2.0
autobahn==23.1.1
Automat==22.10.0
beautifulsoup4==4.11.1
certifi==2022.6.15.2
cffi==1.15.1
channels==4.0.0
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
constantly==15.1.0
cryptography==39.0.0
daphne==4.0.0
Django==4.1.5
et-xmlfile==1.1.0
fastapi==0.85.0
Flask==2.2.2
gunicorn==20.1.0
h11==0.14.0
httptools==0.5.0
hyperlink==21.0.0
idna==3.4
image==1.5.33
incremental==22.10.0
itsdangerous==2.1.2
jdcal==1.4.1
Jinja2==3.1.2
MarkupSafe==2.1.1
mysql-connector-python==8.0.30
openpyexcel==2.5.14
Pillow==9.2.0
psycopg2==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.2
pyOpenSSL==23.0.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PySide6==6.3.2
PySide6-Addons==6.3.2
PySide6-Essentials==6.3.2
pyTelegramBotAPI==4.7.0
python-dotenv==0.21.0
PyYAML==6.0
requests==2.28.1
service-identity==21.1.0
shiboken6==6.3.2
SimpleQIWI==0.7
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
starlette==0.20.4
Twisted==22.10.0
twisted-iocpsupport==1.0.2
txaio==23.1.1
typing_extensions==4.4.0
tzdata==2022.7
urllib3==1.26.12
uuid==1.30
uvicorn==0.18.3
vboxapi==1.0
watchfiles==0.17.0
websockets==10.3
Werkzeug==2.2.2
zope.interface==5.5.2
