{% extends 'public/components/base.html' %}
{% load static %}
{% block main %}


    <main>
        {% include 'public/components/left-menu.html' %}
        {% include 'public/components/top-menu.html' %}
        <section class="main">
            
            <section class="content">
                <div class="new_tweet">
                    <div class="profile">У</div>
                    <form action="{% url 'twitter_app:new_tweet' %}" method="POST" class="new_tweet_in_content_block">
                        {% csrf_token %}
                        <textarea class="tweet_text" name="tweet_text" id="" maxlength="200" contenteditable="true" placeholder="Whats happaning?"></textarea>
                        <input type="hidden" value="{{user_id}}" name="author_id">
                        <input type="submit" value="Tweet" onclick="">
                    </form>
                </div>
                <div class="tweets" id="tweets">
                    <div>
                        <div v-for="task in info" :key="task['id']">
                            <Tweets
                                url_close_img="{% static 'src/assets/img/home/close.png' %}"
                                url_like_img="{% static 'src/assets/img/home/heart.png' %}"
                                v-bind:tweet_id=Number(task.id_tweet)
                                v-bind:author_nickname="task.author_nickname"
                                v-bind:text_tweet="task.text_tweet"
                                v-bind:likes=task.likes
                                ></Tweets>
                            
                        </div>
                    </div>
                    
                </div>
            </section>
        </section>
    </main>


    <!-- <script type="module" src="{% static 'js/home/imports.js' %}"></script> -->

    <!-- <script src="{% static 'js/home/vue.js' %}"></script> -->
{% endblock %}