{% extends 'public/components/base.html' %}
{% load static %}
{% block main %}


    <main>
        {% include 'public/components/left-menu.html' %}
        {% include 'public/components/top-menu.html' %}
        <section class="main">
            
            <section class="content">
                <div class="new_tweet">
                    <div class="profile">У</div>
                    <form action="{% url 'twitter_app:new_tweet' %}" method="POST" class="new_tweet_in_content_block">
                        {% csrf_token %}
                        <textarea class="tweet_text" name="tweet_text" id="" maxlength="200" contenteditable="true" placeholder="Whats happaning?"></textarea>
                        <input type="hidden" value="{{user_id}}" name="author_id">
                        <input type="submit" value="Tweet" onclick="">
                    </form>
                </div>
                <div class="tweets" id="tweets">
                    <!--{{content}}-->
                    {% for tweet in content %}
                    <div class="tweet">
                        <div class="logo">{{tweet.author_nickname.0}}</div>
                            <div id="tweet-content" class="tweet-content">
                            <div class="tweet-actions-top">
                                <a href="" class="tweet-author-nickname">{{tweet.author_nickname}}</a>
                                <a href="{% url 'twitter_app:delete_tweet' tweet.id_tweet %}"><img src="{% static 'src/assets/img/home/close.png' %}" alt="" class="close-tweet"></a>
                            </div>
                            <p class="tweet-text">{{tweet.text_tweet}}</p>
                            <div class="tweet-actions-bottom">
                                <a href="{% url 'twitter_app:like_tweet' tweet.id_tweet %}"><img src="{% static 'src/assets/img/home/heart.png' %}" alt=""></a><span class="tweet-likes" >{{tweet.likes}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </section>
    </main>


    <!-- <script type="module" src="{% static 'js/home/imports.js' %}"></script> -->

    <!-- <script src="{% static 'js/home/vue.js' %}"></script> -->
{% endblock %}