{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Импортируем стили -->
    <link rel="stylesheet" href="{% static 'src/twitter_app/assets/css/log_auth/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Импортируем скрипты -->

    <script>
        let data = {{context.data}}
    </script>
</head>
<body>
    <div class="error">

    </div>
    <main>
        <h1>Добро пожаловать</h1>
        <form action="{% url 'twitter_app:log_auth' %}" method="POST" class="login" id="login" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="input_name">
                Введите имя <br>
                <input type="text" placeholder="" id="input_name" name="input_name">
            </label>
            <br>
            <label for="input_nickname">
                Введите никнейм <br>
                <input type="text" placeholder="" id="input_nickname" name="input_nickname">
            </label>
            <br>
            <label for="input_password">
                Введите пароль <br>
                <input type="password" placeholder="" id="input_password" name="input_password">
            </label>
            <br>
            <label for="input_repeat_password">
                Повторите пароль <br>
                <input type="password" placeholder="" id="input_repeat_password" name="input_repeat_password">
            </label>
            <input class="submit" type="submit" value="Отправить">
            <br>
            <span class="look_auth_block">Авторизоваться</span> 
        </form>
        <form action="{% url 'twitter_app:log_auth' %}" method="POST" class="authorization" id="authorization" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="input_nickname_auth">
                Введите никнейм <br>
                <input type="text" placeholder="" id="input_nickname_auth" name="input_nickname_auth">
            </label>
            <br>
            <label for="input_password_auth">
                Введите пароль <br>
                <input type="password" placeholder="" id="input_password_auth" name="input_password_auth">
            </label>
            <br>
            <input class="submit" type="submit" value="Отправить">
            <br>
            <span class="look_log_block">Зарегестрироваться</span> 
        </form>
        
    </main>

    <script src="{% static 'src/twitter_app/assets/js/log_auth/main.js' %}"></script>
</body>
</html>