{% load static %}
<section class="left-menu">
    <div class="menu-elem-icon">
        <div class="menu-elem-active-icon">
            <img src="{% static 'img/home/icon.png' %}" alt="">
        </div>
    </div>
    <div class="menu-elem">
        <div class="menu-elem-active active-page">
            <img src="{% static 'img/home/home.png' %}" alt="">
            <span>Home</span>
        </div>
    </div>
    <div class="menu-elem">
        <div class="menu-elem-active">
            <img src="{% static 'img/home/explore.png' %}" alt="">
            <span>Explore</span>
        </div>
    </div>
    <div class="menu-elem">
        <div class="menu-elem-active">
            <img src="{% static 'img/home/notification.png' %}" alt="">
            <span>Notifications</span>
        </div>
    </div>
    <div class="menu-elem">
        <div class="menu-elem-active">
            <img src="{% static 'img/home/messages.png' %}" alt="">
            <span>Messages</span>
        </div>
    </div>
    <div class="menu-elem">
        <div class="menu-elem-active">
            <img src="{% static 'img/home/bookmark.png' %}" alt="">
            <span>Bookmark</span>
        </div>
    </div>
    <div class="menu-elem">
        <div class="menu-elem-active">
            <img src="{% static 'img/home/list.png' %}" alt="">
            <span>Lists</span>
        </div>
    </div>
    <div class="menu-elem">
        <div class="menu-elem-active">
            <img src="{% static 'img/home/profile.png' %}" alt="">
            <span>Profile</span>
        </div>
    </div>
    <div class="menu-elem">
        <div class="menu-elem-active">
            <img src="{% static 'img/home/more.png' %}" alt="">
            <span>More</span>
        </div>
    </div>

    <button class="menu_new_tweet">Tweet</button>
</section>
<style>

</style>