header {
    width: 100vw;
    /*height: 90px;*/
    display: flex;
    padding: 10px 10%;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
}
.sites {
    width: 100vw;
    padding: 10px 10%;
}
.logo {
    width: 150px;
}

header .find input{
    width: 70vw;
    padding: 7px 15px;
    border-radius: 10px 0 0 10px;
    border: 1px solid black;
}

header .find button {
    background-color: #fff;
    padding: 7px 25px;
    border: 1px solid black;
    border-left: 0;
    border-radius: 0 10px 10px 0 ;
}



.sites .site {
    margin-bottom: 25px;
}
.sites .site .url {
    font-size: 14px;
}
.sites .site .title {
    font-size: 26px;
    color: blue;
}

